body {
  font-family: Montserrat;
  margin: 50px;
  max-width: 500px;
}

button {
  all: unset;
  cursor: pointer;
}

.dark-mode {
  background-color: black;
  color: white;
}

/*
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
*/
